body {
    font-family: Arial, sans-serif;
    background-image: url('groot.jpeg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #f70202;
  }
  h2{
    color: #f70202;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size:20px;
    color: #fffdfd;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
    background-color: transparent; /* Hacer los campos de entrada transparentes */
    border: 3px solid red; /* Puedes ajustar el color del borde */
    border-radius: 5px;
    color: #26f702;
    font-size: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color:#00ff42 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: red;
  }
  .apodo{
       color:red;
       text-align: center;
       font-size: 50px; 
       position: absolute; top: 50px; /* Puedes ajustar la distancia desde arriba */ left: 50%; transform: translateX(-50%);
       color: rgb(231, 2, 40);
    
   
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
    .login-button {
    font-size: 50px; /* Tamaño de fuente para agrandar el botón */
    padding: 10px 20px; /* Ajustar el tamaño del botón */
    
  }
  @media (min-width: 768px) {
    body {
      background-image: url('login.jpg');
      background-size: cover;
    }
    .container {
        text-align: center;
        background-color: transparent;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid #26f702;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 400PX;
        width: 500PX;
      }
      label {
        margin-bottom: 5px;
        font-size:40px;
        color: #fffdfd;
      }
      .apodo{
        color:red;
        text-align: center;
        font-size: 50px; 
        position: absolute; top: 50px; /* Puedes ajustar la distancia desde arriba */ left: 50%; transform: translateX(-50%);
        color: #26f702;
    }
    h1 {
        margin-bottom: 20px;
        color: #26f702 ;
       font-size: 40px;
      }
      h2{
        color: #26f702;
      }
  }
  
  
